automations/bathroom_showering_ITHO_mqtt.json
[{"id":"2a123a357a095ba9","type":"group","z":"c61e4613.44ef08","name":"Showering Fan","style":{"label":true,"color":"#000000","fill":"#bfdbef"},"nodes":["2862501dddbb7702","9e6e9f5a6525ebac","166078264415bdf2","8c73db3965721e9a","615170625de1d681","37933731b01287a4"],"x":34,"y":579,"w":892,"h":242},{"id":"2862501dddbb7702","type":"api-call-service","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"Set fan to high","server":"d9e598cd.b27578","version":3,"debugenabled":true,"service_domain":"fan","service":"set_percentage","entityId":"fan.nrg_itho_682c_fan","data":"{\"percentage\":\"87\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":620,"wires":[["9e6e9f5a6525ebac"]]},{"id":"9e6e9f5a6525ebac","type":"trigger","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"10min","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"override","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":720,"wires":[["166078264415bdf2"]]},{"id":"166078264415bdf2","type":"api-current-state","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"Check humidity","server":"d9e598cd.b27578","version":3,"outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.bathroom_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":540,"y":720,"wires":[["2862501dddbb7702"],["8c73db3965721e9a"]]},{"id":"8c73db3965721e9a","type":"api-call-service","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"Set fan to low","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"fan","service":"set_percentage","entityId":"fan.nrg_itho_682c_fan","data":"{\"percentage\":\"8\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":720,"wires":[[]]},{"id":"615170625de1d681","type":"server-state-changed","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"Check humidty","server":"d9e598cd.b27578","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bathroom_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"70","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":640,"wires":[["2862501dddbb7702"],[]]},{"id":"37933731b01287a4","type":"inject","z":"c61e4613.44ef08","g":"2a123a357a095ba9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":780,"wires":[["166078264415bdf2"]]},{"id":"d9e598cd.b27578","type":"server","name":"Home Assistant default","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]