automations/hallway.json
[
    {
        "id": "87ade70a.5538f8",
        "type": "tab",
        "label": "Hallway",
        "disabled": false,
        "info": ""
    },
    {
        "id": "135f40e5.3a643f",
        "type": "group",
        "z": "87ade70a.5538f8",
        "name": "Day/night scenes",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "56668319.4c687c",
            "2e25bf26.28b25",
            "8f357a20.84bff8",
            "eb19639c.8a978",
            "743ff325.ebc94c",
            "14739080.90dc9",
            "cd7df0e2.ea938",
            "f7b9df5d.997b1",
            "bdccd01f.7f59a",
            "63deddd1.50c014",
            "af3ce54d.288438",
            "4646f044.bc4e",
            "39f85aa9.cdf876",
            "849852b5.8fc88",
            "45867eb.db0b78",
            "d2920a39.982608",
            "8ae8117b.5d46a"
        ],
        "x": 34,
        "y": 199,
        "w": 1112,
        "h": 462
    },
    {
        "id": "45fda13.9add56",
        "type": "group",
        "z": "87ade70a.5538f8",
        "name": "Mood scene activation",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "89f01411.8d3db8",
            "97f0e7b9.00ed88",
            "49ba7ab0.2b51c4",
            "5cc487f0.9cd918",
            "cb107058.e209",
            "83eb59ff.1a3d68"
        ],
        "x": 34,
        "y": 19,
        "w": 1072,
        "h": 142
    },
    {
        "id": "58c0c20c.a7a28c",
        "type": "group",
        "z": "87ade70a.5538f8",
        "name": "Photo snapshot to telegram",
        "style": {
            "label": true,
            "fill": "#d1d1d1",
            "color": "#000000"
        },
        "nodes": [
            "322e034a.afb7bc",
            "640219df.9662f8",
            "2a0a2d40.c8d932",
            "4ee2e96.c78cc18",
            "ede52b86.149988",
            "34befdbc.365922",
            "35f0703a.35424"
        ],
        "x": 34,
        "y": 959,
        "w": 992,
        "h": 202
    },
    {
        "id": "6f62dfcd.f48df",
        "type": "group",
        "z": "87ade70a.5538f8",
        "name": "Welcome greeting",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aa54f314.2e6f6",
            "b3e83ac.c318dc8",
            "f95d1817.272a78",
            "ba74f961.7961b8",
            "ddc6dcea.9723c",
            "c124cc2.099993",
            "befd37a1.d193c8"
        ],
        "x": 34,
        "y": 699,
        "w": 1432,
        "h": 202
    },
    {
        "id": "cd7df0e2.ea938",
        "type": "trigger",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "5min",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "override",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "849852b5.8fc88"
            ]
        ]
    },
    {
        "id": "14739080.90dc9",
        "type": "change",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 335,
        "y": 320,
        "wires": [
            [
                "cd7df0e2.ea938"
            ]
        ],
        "icon": "node-red/timer.svg",
        "l": false
    },
    {
        "id": "56668319.4c687c",
        "type": "trigger-state",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Motion Sensor",
        "server": "d9e598cd.b27578",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.hallway_sensor_1_home_security_motion_detection",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "14739080.90dc9",
                "eb19639c.8a978",
                "8f357a20.84bff8"
            ],
            [
                "cd7df0e2.ea938"
            ]
        ]
    },
    {
        "id": "eb19639c.8a978",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Hallway lamp on / off",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.hallway_lamp",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "bdccd01f.7f59a"
            ],
            []
        ]
    },
    {
        "id": "f7b9df5d.997b1",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "set scene daily",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": true,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_daily",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4646f044.bc4e",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "set scene evening",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_evening",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bdccd01f.7f59a",
        "type": "time-range-switch",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "",
        "lat": "51.709779",
        "lon": "5.365246",
        "startTime": "sunrise",
        "endTime": "sunset",
        "startOffset": 0,
        "endOffset": 0,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "f7b9df5d.997b1"
            ],
            [
                "63deddd1.50c014"
            ]
        ]
    },
    {
        "id": "63deddd1.50c014",
        "type": "time-range-switch",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "",
        "lat": "51.709779",
        "lon": "5.365246",
        "startTime": "sunset",
        "endTime": "0:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 730,
        "y": 440,
        "wires": [
            [
                "4646f044.bc4e"
            ],
            [
                "af3ce54d.288438"
            ]
        ]
    },
    {
        "id": "849852b5.8fc88",
        "type": "time-range-switch",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "",
        "lat": "51.709779",
        "lon": "5.365246",
        "startTime": "sunset",
        "endTime": "0:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "cb107058.e209"
            ],
            [
                "45867eb.db0b78"
            ]
        ]
    },
    {
        "id": "cb107058.e209",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "set scene mood",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_evening_mood",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1000,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "af3ce54d.288438",
        "type": "time-range-switch",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "",
        "lat": "51.709779",
        "lon": "5.365246",
        "startTime": "0:00",
        "endTime": "sunrise",
        "startOffset": 0,
        "endOffset": 0,
        "x": 740,
        "y": 520,
        "wires": [
            [
                "39f85aa9.cdf876"
            ],
            []
        ]
    },
    {
        "id": "39f85aa9.cdf876",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "set scene night",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_night",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2e25bf26.28b25",
        "type": "trigger-state",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Door sensor",
        "server": "d9e598cd.b27578",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.front_door_sensor_access_control_window_door_is_open",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "eb19639c.8a978",
                "14739080.90dc9",
                "743ff325.ebc94c"
            ],
            [
                "cd7df0e2.ea938"
            ]
        ]
    },
    {
        "id": "89f01411.8d3db8",
        "type": "schedex",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "",
        "passthroughunhandled": false,
        "suspended": false,
        "lat": "51.709779",
        "lon": "5.365246",
        "ontime": "sunset",
        "ontopic": "",
        "onpayload": "",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "",
        "offtopic": "",
        "offpayload": "",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "83eb59ff.1a3d68"
            ]
        ]
    },
    {
        "id": "97f0e7b9.00ed88",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "Hallway lamp off?",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.hallway_lamp",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "49ba7ab0.2b51c4"
            ],
            []
        ]
    },
    {
        "id": "49ba7ab0.2b51c4",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "Motion ?",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.hallway_sensor_1_home_security_motion_detection",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 800,
        "y": 100,
        "wires": [
            [
                "cb107058.e209"
            ],
            []
        ]
    },
    {
        "id": "45867eb.db0b78",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "turn off",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "scene",
        "service": "turn_on",
        "entityId": "scene.hallway_off",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "322e034a.afb7bc",
        "type": "trigger-state",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "Doorbell",
        "server": "d9e598cd.b27578",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "switch.doorbell",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "4ee2e96.c78cc18",
                "35f0703a.35424"
            ],
            []
        ]
    },
    {
        "id": "8f357a20.84bff8",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Hue hallway on / off",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.hallway_area",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "bdccd01f.7f59a"
            ],
            []
        ]
    },
    {
        "id": "5cc487f0.9cd918",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "Hue hallway on / off",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.hallway_area",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 540,
        "y": 60,
        "wires": [
            [
                "49ba7ab0.2b51c4"
            ],
            []
        ]
    },
    {
        "id": "640219df.9662f8",
        "type": "inject",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "4ee2e96.c78cc18",
                "35f0703a.35424"
            ]
        ]
    },
    {
        "id": "2a0a2d40.c8d932",
        "type": "function",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "prep msg",
        "func": "msg.filename = '/config/www/snapshots/snap.jpg';\nmsg.payload = { \n data: {\n type: 'photo',\n file: '/config/www/snap.jpg',\n chatId: 1480883129,\n caption: '| Home Assistant | There is somebody at the door.' }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1100,
        "wires": [
            [
                "34befdbc.365922",
                "ede52b86.149988"
            ]
        ]
    },
    {
        "id": "4ee2e96.c78cc18",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "Snapshot",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "camera",
        "service": "snapshot",
        "entityId": "camera.nelnlfs001_cam01_door",
        "data": "{\"filename\":\"/config/www/snap.jpg\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 1100,
        "wires": [
            [
                "2a0a2d40.c8d932"
            ]
        ]
    },
    {
        "id": "ede52b86.149988",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "Send Photo",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "telegram_bot",
        "service": "send_photo",
        "entityId": "",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "34befdbc.365922",
        "type": "debug",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1080,
        "wires": []
    },
    {
        "id": "35f0703a.35424",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "58c0c20c.a7a28c",
        "name": "Nofity the House Hold",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media",
        "entityId": "",
        "data": "{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"message\":\"There is someone at the frontdoor\",\"target\":[\"media_player.office\",\"media_player.storage\"]}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 540,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ba74f961.7961b8",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "Nofity the House Hold",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_meterkast",
        "entityId": "",
        "data": "{\"data\":{\"type\":\"tts\"},\"message\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "queue": "none",
        "x": 1340,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "aa54f314.2e6f6",
        "type": "function",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "PP HOME",
        "func": "msg.payload =\n\n\"Hello Peter-Paul, welcome back\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "ba74f961.7961b8"
            ]
        ]
    },
    {
        "id": "b3e83ac.c318dc8",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "PP HOME?",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.peter_paul_kurstjens",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "ddc6dcea.9723c",
                "aa54f314.2e6f6"
            ],
            []
        ]
    },
    {
        "id": "f95d1817.272a78",
        "type": "link in",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "",
        "links": [
            "743ff325.ebc94c"
        ],
        "x": 355,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "743ff325.ebc94c",
        "type": "link out",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Link to facial",
        "links": [
            "f95d1817.272a78"
        ],
        "x": 315,
        "y": 620,
        "wires": []
    },
    {
        "id": "ddc6dcea.9723c",
        "type": "debug",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "c124cc2.099993",
        "type": "server-state-changed",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "look for PP",
        "server": "d9e598cd.b27578",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.peterpaul",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "hallway",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 860,
        "wires": [
            [
                "befd37a1.d193c8"
            ],
            []
        ]
    },
    {
        "id": "befd37a1.d193c8",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "6f62dfcd.f48df",
        "name": "Door open check",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.front_door_sensor_access_control_window_door_is_open",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "b3e83ac.c318dc8"
            ],
            []
        ]
    },
    {
        "id": "83eb59ff.1a3d68",
        "type": "api-current-state",
        "z": "87ade70a.5538f8",
        "g": "45fda13.9add56",
        "name": "alarm on?",
        "server": "d9e598cd.b27578",
        "version": 2,
        "outputs": 2,
        "halt_if": "armed_away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.alarm_system",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "str"
            }
        ],
        "x": 300,
        "y": 80,
        "wires": [
            [],
            [
                "97f0e7b9.00ed88",
                "5cc487f0.9cd918"
            ]
        ]
    },
    {
        "id": "d2920a39.982608",
        "type": "trigger-state",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Good night",
        "server": "d9e598cd.b27578",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "input_boolean.override",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 3,
        "customoutputs": [
            {
                "messageType": "payload",
                "messageValue": "override",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorType": "is",
                "comparatorValue": "",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": ""
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 310,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "8ae8117b.5d46a",
                "cd7df0e2.ea938"
            ]
        ]
    },
    {
        "id": "8ae8117b.5d46a",
        "type": "api-call-service",
        "z": "87ade70a.5538f8",
        "g": "135f40e5.3a643f",
        "name": "Turn boolean off",
        "server": "d9e598cd.b27578",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.override",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "45867eb.db0b78"
            ]
        ]
    },
    {
        "id": "d9e598cd.b27578",
        "type": "server",
        "name": "Home Assistant default",
        "version": 1,
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
