housenotifications/bicycle_charging.json
[{"id":"04af5a1fc2f22f46","type":"group","z":"e9e38252.ae174","name":"Bicycle charge Susanne","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["f8efec95b10fd482","cd10c189e72bb41d","4ea3d1043735a3b0","0c8ab9b37a72fe21","2a15558fa1c3b005","98fe77372f276702","39e42278e8970b36","55b504a877286e67","0160e94578ac6aa6","62be234f15f90abb","6fb48623493f1594"],"x":1974,"y":659,"w":1002,"h":362},{"id":"f8efec95b10fd482","type":"switch","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"},{"t":"btwn","v":"1","vt":"num","v2":"5","v2t":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":2350,"y":880,"wires":[["55b504a877286e67"],["0c8ab9b37a72fe21"],["0160e94578ac6aa6"]]},{"id":"cd10c189e72bb41d","type":"server-state-changed","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Bicycle charge power","server":"d9e598cd.b27578","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.smart_switch_7_electric_consumed_w_4","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":2100,"y":880,"wires":[["f8efec95b10fd482"]]},{"id":"4ea3d1043735a3b0","type":"trigger","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"15min","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2630,"y":760,"wires":[["39e42278e8970b36"]]},{"id":"0c8ab9b37a72fe21","type":"function","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Compose message - announce charged","func":"msg.payload =\n\n\"Hi Susanne, the battery of your bicycle is charged.\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2680,"y":900,"wires":[["2a15558fa1c3b005"]]},{"id":"2a15558fa1c3b005","type":"link out","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"","mode":"link","links":["bedb13b5caedb00f"],"x":2935,"y":900,"wires":[]},{"id":"98fe77372f276702","type":"api-call-service","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Set charging is on","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.bicycle_charging","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2410,"y":720,"wires":[["4ea3d1043735a3b0","6fb48623493f1594"]]},{"id":"39e42278e8970b36","type":"api-current-state","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Still charging ?","server":"d9e598cd.b27578","version":3,"outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.smart_switch_7_electric_consumed_w_4","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2640,"y":840,"wires":[["4ea3d1043735a3b0"],["f8efec95b10fd482"]]},{"id":"55b504a877286e67","type":"api-current-state","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Already charging ?","server":"d9e598cd.b27578","version":3,"outputs":2,"halt_if":"on","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_boolean.bicycle_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2350,"y":800,"wires":[[],["98fe77372f276702"]]},{"id":"0160e94578ac6aa6","type":"api-call-service","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Set charging off","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bicycle_charging","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":980,"wires":[["62be234f15f90abb"]]},{"id":"62be234f15f90abb","type":"api-call-service","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Set light off","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.smart_switch_7_4","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2730,"y":980,"wires":[[]]},{"id":"6fb48623493f1594","type":"api-call-service","z":"e9e38252.ae174","g":"04af5a1fc2f22f46","name":"Set light on","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.smart_switch_7_4","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":700,"wires":[[]]},{"id":"d9e598cd.b27578","type":"server","name":"Home Assistant default","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]