housenotifications/bmw_fuel_remaning_TTS.json
[{"id":"f39a050da428a8a3","type":"group","z":"e9e38252.ae174","name":"BMW Fuel","style":{"stroke":"#000000","fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["dc6a6bf44b522a09","e8dfbacb7ba9e047","d3879683e8d55595","a22ffec52fc9e16e","797549e4d89b090f","a0689e004a72d058","f8cc169e7a258033","3b8ec0c27b7a9bd6"],"x":54,"y":39,"w":872,"h":222},{"id":"dc6a6bf44b522a09","type":"trigger-state","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"Activate","server":"d9e598cd.b27578","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.bmw_fuel","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":140,"y":100,"wires":[["a0689e004a72d058"],[]]},{"id":"e8dfbacb7ba9e047","type":"function","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"Compose message","func":"msg.payload =\n\n\"The BMW has, \"+\n\"{{states.sensor.320i_remaining_fuel.state}} liters of fuel remaning \"+ \", \" +\n\n\"and you can drive approximatly, \"+\n\"{{states.sensor.320i_remaining_range_total.state}} kilometer with it.\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["f8cc169e7a258033"]]},{"id":"d3879683e8d55595","type":"api-call-service","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"turn of vswitch","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bmw_fuel","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":220,"wires":[[]]},{"id":"a22ffec52fc9e16e","type":"api-call-service","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"update_last_call","server":"d9e598cd.b27578","version":3,"debugenabled":false,"service_domain":"alexa_media","service":"update_last_called","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":220,"wires":[["797549e4d89b090f","d3879683e8d55595"]]},{"id":"797549e4d89b090f","type":"trigger","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"wait","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1000","extend":true,"overrideDelay":false,"units":"ms","reset":"override","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":140,"wires":[["e8dfbacb7ba9e047"]]},{"id":"a0689e004a72d058","type":"trigger","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"wait","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1000","extend":true,"overrideDelay":false,"units":"ms","reset":"override","bytopic":"all","topic":"topic","outputs":1,"x":230,"y":160,"wires":[["a22ffec52fc9e16e"]]},{"id":"f8cc169e7a258033","type":"link out","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"","mode":"link","links":["bedb13b5caedb00f"],"x":795,"y":140,"wires":[]},{"id":"3b8ec0c27b7a9bd6","type":"inject","z":"e9e38252.ae174","g":"f39a050da428a8a3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["a22ffec52fc9e16e"]]},{"id":"d9e598cd.b27578","type":"server","name":"Home Assistant default","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]